.container {
  background-color: #314d87;
  color:white;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1.75;
}
.section {
  width: 100%;
  display: flex;
  padding: 5rem 10rem;
  flex-direction: column;
}

h2 {
  font-family: Calibre, "San Francisco", "SF Pro Text", -apple-system, system-ui, sans-serifbri;
}
/* .main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

.home {
  background: linear-gradient(90deg, #314d87 50%, #A0BBF2 50%);
  width: 100%;
  padding: 10rem 6rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.title h1{
  font-family: "Fira Code", monospace;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  color: white;
}

.about {
  background-color: #fff;
  color: black;
}
.about-grid {
  display: inline-grid;
}

.grid-columns {
	grid-template-columns: 2fr 1fr;
  column-gap: 80px;
}

.pic-profile {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 5%;

}

.skills {
  background-color: #fff;
  color: #000;
}

/* .title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
} */

/* .grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 3rem;
} */

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
