.container {
  background-color: #314d87;
  color: white;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1.75;
}
.section {
  width: 100%;
  display: flex;
  padding: 5rem 15rem;
  flex-direction: column;
}

p {
  font-size: 1.2rem;
}

h2 {
  font-family: "B612", sans-serif;
  font-size: 2.5rem;
}

.home {
  background: linear-gradient(90deg, #314d87 50%, #a0bbf2 50%);
  width: 100%;
  padding: 10rem 6rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.title h1 {
  font-family: "Fira Code", monospace;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  margin: 0;
  line-height: 1.15;
  font-size: 5rem;
  color: white;
}

.about {
  background-color: #fff;
  color: #436bba;
}

.grid {
  display: inline-grid;
}

.grid-columns-about {
  grid-template-columns: 2fr 1fr;
  column-gap: 80px;
}

.pic-profile {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 5%;
}

.skills {
  background-color: #fff;
  color: #000;
  color: #436bba;
}

.skills-items::before {
  content: "▹";
  padding-right: 10px;
  /* position: absolute; */
}

.skills li {
  list-style: none;
  padding: 1rem 0;
  font-size: large;
  font-weight: bold;
}

.grid-columns-skills {
  grid-template-columns: repeat(2, 250px);
  column-gap: 10px;
}

.wrapper {
  position: relative;
}

.coding-girl {
  position: absolute;
  width: 60%;
  left: 60%;
  bottom: 150px;
}

/* .title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
} */

/* .grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 3rem;
} */

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
