:root {
  --BackGroundColor: #314d87;
  --SecondaryColor: #a0bbf2;
  --BackGroundWhite: #ffffff;
  --LettersColor: #436bba;
  --LettersSecondary: #a8b2d1;
}

.container-fluid {
  overflow: hidden;
}

.section {
  padding: 8rem 0;
}

.home {
  background: linear-gradient(
    90deg,
    var(--BackGroundColor) 50%,
    var(--SecondaryColor) 50%
  );
  padding: 10rem 6rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.typewriter-text {
  overflow: hidden;
  position: relative;
  width: 18rem;
  border-right: 2px solid var(--BackGroundWhite);
  white-space: nowrap;
  animation: typewriter 2s steps(44) 0.5s 1 normal both,
    blinkTextCursor 400ms steps(44) infinite normal;
}

.about {
  background-color: var(--BackGroundWhite);
  color: var(--LettersColor);
}

.pic-profile {
  object-fit: cover;
}

.border {
  border: 5px solid black;
}

.experiences {
  background-color: var(--BackGroundColor);
  color: var(--LettersSecondary);
}

.description {
  background-color: #112245;
  color: var(--Letters);
  z-index: 2;
  position: absolute;
  width: 320px;
  height: 100px;
  bottom: 170px;
  z-index: 5;
  left: -60px;
  text-align: end;
  border-radius: 4px;
}

.skills {
  background-color: var(--BackGroundWhite);
  color: #436bba;
}

.items::before {
  content: "▹";
  padding-right: 10px;
}

.skills li {
  font-size: large;
  font-weight: bold;
}

.wrapper {
  position: relative;
}

.coding-girl {
  position: absolute;
  right: 0%;
  top: -50px;
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 18rem;
  }
}

@keyframes blinkTextCursor {
  from {
    border-right-color: rgba(255, 255, 255, 0.75);
  }

  to {
    border-right-color: transparent;
  }
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

h1 {
  font-family: "Fira Code", monospace;
  color: white;
}

h2 {
  font-family: "Mulish", sans-serif;
  font-size: 2.5rem !important;
  font-weight: bold !important;
}

h3 {
  font-family: "Mulish", sans-serif;
  font-size: 2rem !important;
  font-weight: bold !important;
}

p {
  font-size: 1.25rem;
  line-height: 2;
}

li {
  list-style: none;
  padding: 1rem 0;
}
