.sidebar {
  position: fixed;
  display: inline-flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  /* background-color: #d78001; */
  height: 5%;
  font-size: 0.65em;
}

.nav ul {
  display: inline-flex;
  justify-content: space-evenly;
  padding: 0;
  margin: auto;
}

.nav li {
  padding-top: 2.75rem;
  padding-bottom: 1rem;
  width: 100%;
  cursor: pointer;
  transition: transform .2s
}

.nav li:hover {
  cursor: pointer;
  transform: scale(1.5)
}

.list li {
  list-style: none;
}
 