.sidebar {
  position: fixed;
  width: 8%;
  background-color: #d78001;
  height: 100vh;
  font-size: 0.65em;
}

.nav ul {
  padding: 0;
  margin: 0;
}

.nav li {
  padding-top: 1rem;
  padding-bottom: 2.5rem;
  /* padding-left: .5rem; */
  cursor: pointer;
  /* padding-left: 1rem; */
}

/* .nav li:hover {
  background-color: white ;
  opacity: 30%;
} */

.nav ul::after {
  content: "";
  display: block;
  width: 1px;
  height: 300px;
  margin-left: 0.6rem;
  background-color: #fff;
}

 
.list li {
  list-style: none;
}
