.sidebar {
  position: fixed;
  display: flex;
  justify-content: center;
  width: 8%;
  background-color: #d78001;
  height: 100vh;
  font-size: 0.65em;
}

.nav ul {
  padding: 0;
  margin: auto;
}

.nav li {
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 100%;
  /* padding-left: .5rem; */
  cursor: pointer;
  /* padding-left: 1rem; */
}

/* img .nav-item {
  padding-right: 2rem;
} */

.nav li:hover {
  cursor: pointer;

}

/* .nav ul::after {
  content: "";
  display: block;
  width: 1px;
  height: 300px;
  margin-left: 0.6rem;
  background-color: #fff;
} */

.list li {
  list-style: none;
}
